<mat-toolbar color="primary" class="navbar">
    <div class="navbar-logo">
        <img src="assets/logo.png " routerLink="/" alt="Logo">
    </div>
    <div class="navbar-links">
        <button mat-button *ngIf="permissioncheck(['IsShop'])" [matMenuTriggerFor]="ownerMenu">Shop Owner</button>

        <mat-menu #ownerMenu="matMenu">
            <a mat-menu-item routerLink="/myproducts"> You Products </a>

        </mat-menu>

        <button mat-button *ngIf="permissioncheck(['IsUser'])" [matMenuTriggerFor]="customerMenu">Customer</button>

        <mat-menu #customerMenu="matMenu">
            <a mat-menu-item routerLink=""> All Foods </a>
            <a mat-menu-item routerLink=""> Basket </a>
            <a mat-menu-item routerLink=""> Orders </a>

        </mat-menu>

        <button mat-button *ngIf="permissioncheck(['IsAdmin'])" [matMenuTriggerFor]="adminMenu">Admin</button>

        <mat-menu #adminMenu="matMenu">
            <a mat-menu-item routerLink="/category"> Categorys </a>
            <a mat-menu-item routerLink="/subcategory"> Subcategory </a>
        </mat-menu>

        <button *ngIf="checklogin()" mat-button routerLink="/login">Login</button>
        <button *ngIf="!checklogin()" (click)="logout()" mat-button routerLink="">Logout</button>

    </div>
</mat-toolbar>