<div class="login-container">
    <mat-card class="login-card">
        <h1>Login</h1>
        <form class="login-form">
            <mat-form-field class="form-field">
                <input matInput placeholder="Username" required>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>

            <button mat-raised-button color="primary" class="login-button">Login</button>
        </form>

        <div class="register-link">
            Don't have an account? <a routerLink="/register">Register here</a>
        </div>
    </mat-card>
</div>