<div class="login-container">
    <mat-card class="login-card">
        <h1>Register New Account </h1>
        <form class="login-form">
            <mat-form-field class="form-field">
                <input matInput placeholder="Username" required>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>
            <div class="checkboxes-container">
                <mat-checkbox class="checkbox">Is User</mat-checkbox>

                <mat-checkbox class="checkbox">Is Shop</mat-checkbox>
            </div>
            <div class="checkboxes-container">
                <mat-checkbox class="checkbox">IsAdmin</mat-checkbox>

            </div>
            <button mat-raised-button color="primary" class="login-button">Register</button>
        </form>
    </mat-card>
</div>