.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product-card {
    width: calc(33.33% - 20px);
    max-width: 300px;
}

.product-card mat-card-content {
    padding: 12px;
    text-align: center;
}

.product-card mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.product-card button {
    flex: 1;
}

.product-card img {
    max-width: 100%;
}

.button-group {
    display: flex;
    flex-direction: row;
    /* Stack buttons vertically */
    gap: 16px;
    /* Adjust the spacing between buttons */
    justify-content: center;
    /* Center buttons horizontally */
    align-items: center;
    /* Center buttons vertically */
}


/* Custom button styles */
button {
    min-width: 120px;
    /* Adjust the button width as needed */
    padding: 8px 16px;
    /* Adjust the button padding as needed */
    text-transform: none;
    /* Remove uppercase transformation */
}